<ion-content>
	<!-- Note: ion-content creates the main, scrollable view of the application -->

	<router-outlet>
		<!-- router outlet switches between views -->
	</router-outlet>
	
	<!--task-list-->
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
		<!-- `task-list` is list of tasks in any kind of context i.e. different groups -->
		<!--            (  see  `app/task-list/task-list.component.html`  )            -->
		<!--             (  see  `app/task-list/task-list.component.ts`  )             -->
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!--/task-list-->

	<!--ion-popover-->
		<!--task-detail-->
			<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
			<!-- `task-detail` dynamically displays the details of a single task -->
			<!--     (  see  `app/task-detail/task-detail.component.html`  )     -->
			<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
		<!--/task-detail-->
	<!--/ion-popover-->
</ion-content>